extends ../layout

block content
  h1= genre.name
  p Name: #{genre.name}
  p Url: #{genre.url || 'Unknown'}
  p
    a(href=`/genres/${genre.id}/edit`) Edit
    form(action=`/genres/${genre.id}/delete`, method='POST')
      button(type='submit') Delete
