extends ../layout

block content
  h1= title
  if genres.length
    ul.list-group
      each genre in genres
        li.list-group-item
          a(href=`/genres/${genre.id}`) 
            | #{genre.name} 
            span.text-muted 
              | (URL: #{genre.url || t('notlist.unknownURL')})
  else
    p #{t('notlist.noGenres')}
