extends ../layout

block content
  h1= book.title
  p Title : #{book.title}
  p Summary : #{book.summary || 'Unknown'}
  p IsBn : #{book.isBn || 'Unknown'}
  p
    a(href=`/books/update/${book.id}`) Edit
    form(action=`/books/delete/${book.id}`, method='POST')
      button(type='submit') Delete
