extends ../layout

block content
  h1= title
  if books.length
    ul.list-group
      each book in books
        li.list-group-item
          a(href=`/books/${book.id}`) 
            | #{book.title} 
            span.text-muted 
              | (Summary: #{book.summary || t('notlist.unknownSummary')}, 
              | ISBN: #{book.isbn || t('notlist.unknownISBN')}, 
              | Author: #{book.author.first_name || t('notlist.unknownAuthor')})
  else
    p #{t('notlist.noBooks')}
