extends ../layout

block content
  h1= instance.id
  p Status: #{instance.status || 'Unknown'}
  p Due Back: #{instance.due_back || 'Unknown'}
  p
    a(href=`/book-instances/${instance.id}/edit`) Edit
    form(action=`/book-instances/${instance.id}/delete`, method='POST')
      button(type='submit') Delete
