extends ../layout

block content
  h1= title
  if instances.length
    ul
      each instance in instances
        li
          a(href=`/book-instances/${instance.id}`) #{instance.imprint} (Status: #{instance.status || 'Unknown'}, Due Back: #{instance.due_back || 'Unknown'}, BookId: #{instance.book_id || 'Unknown'})
  else
    p There are no instances.
