extends ../layout

block content
  h1= title
  if instances.length
    ul
      each instance in instances
        li
          a(href=`/instances/${instances.id}`) #{instances.imprint} (Status: #{instances.status || 'Unknown'}, Due Back: #{instances.due_back || 'Unknown'}, BookId: #{instances.book_id || 'Unknown'})
  else
    p There are no instances.
