extends ../layout

block content
  h1= title
  if instances.length
    ul.list-group
      each instance in instances
        li.list-group-item
          a(href=`/bookinstances/${instance.id}`) 
            | #{instance.imprint} 
            span.text-muted 
              | (Status: #{instance.status || t('notlist.unknownStatus')}, 
              | Due Back: #{instance.due_back || t('notlist.unknownDueBack')}, 
              | BookId: #{instance.bookId || t('notlist.unknownBookId')})
  else
    p #{t('notlist.noInstances')}
